<header class="site-header">
  <div class="container">
    <a href="/" class="brand">Festival Astro</a>
    <nav>
      <a href="/festival">Festival</a>
      <a href="/programme">Programme</a>
      <a href="/artistes">Artistes</a>
      <a href="/scenes">Scenes</a>
      <a href="/infos-pratiques">Infos pratiques</a>
      <a href="/contact">Contact</a>
    </nav>
  </div>
</header>
